<div>
        <div>
            <h1 style="text-align: center">Witaj!</h1>
            <h2 style="text-align: center">Oto Twój token dostępu</h2>
            <h2 style="text-align: center">do diety</h2>
            <p style="text-align: center; font-size: 40px">{{ token }}</p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p>GoodCOOLories</p>
        </div>
</div>