<!DOCTYPE html>
<html style="font-size: 16px;" lang="pl">
<head>
    <meta charset="utf-8">
    <title>Panel administracyjny dietetyka</title>
    <link href="../../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../lib/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link href="../../css/dietician/style.css" rel="stylesheet">
    <style>

        .button-p {
            padding: 5px 10px;
            border: 1px solid black;
            color: black;
        }

        .button-p:hover {
            border: 1px solid transparent;
            color: black;
        }

        .order-list {
            width: 1000px;
            min-height: 350px;
            margin: 50px auto;
            padding: 10px;
        }

        .order-list p {
            font-size: 15px;
            padding: 0 0 0 15px;
            color: black;
            margin: 0;
            font-weight: bold;
        }

        .order-list span {
            font-weight: normal;
            font-size: 14px;
        }

        .order-left-col,
        .order-right-col {
            width: 45%;
            padding: 10px;
            float: left;
            background-size: contain;
        }

    </style>
</head>
<body>
<section id="container">
    <header class="header black-bg">
        <!--logo start-->
        <a href="/admin/orders" class="logo"><b>Good<span>COOLories</span></b></a>
        <!--logo end-->
        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li><a class="logout" href="/admin/logout">Logout</a></li>
            </ul>
        </div>
    </header>
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">
                <li class="mt">
                    <a class="active" th:href="@{/admin/orders}">
                        <span>Zamówienia</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a th:href="@{/admin/add-recipe}">
                        <span>Dodaj przepis</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
    <section id="main-content">
        <div class="wrapper">
            <div class="order-list">
                <div class="order-left-col" th:style="'background-image: url(../../img/'+${order.getStatus()}+'.png)'">
                    <p>Imię i nazwisko: <span th:text="${user.getName()}"></span></p>
                    <br/>
                    <p>Adres email: <span th:text="${user.getEaddress()}"></span></p>
                    <br/>
                    <p>Telefon: <span th:text="${user.getPhone()}"></span></p>
                    <br/>
                    <p>Ulica: <span th:text="${user.getStreet()}"></span></p>
                    <br/>
                    <p>Adres: <span th:text="${user.getZip()}+' '+${user.getCity()}"></span></p>
                    <br/>
                    <p>Wiek: <span th:text="${user.getAge()}"></span></p>
                    <br/>
                    <p>Wzrost: <span th:text="${user.getHeight()}"></span></p>
                    <br/>
                    <p>Aktywność: <span th:text="${order.getActivity()}"></span></p>
                    <br/>
                    <p>Cel diety: <span th:text="${order.getDietWish()}"></span></p>
                    <br/>
                    <p>Ilość posiłków: <span th:text="${order.getDishCount()}"></span></p>
                    <br/>
                    <p>Uwagi:</p>
                    <p style="width: 100%;height: 200px;word-break: break-all; font-size: 12px"
                       th:text="${order.getComment()}"></p>
                    <br/>
                    <p>
                        Status: <span th:text="${order.getStatus()}"></span>
                        <a class="button-p" style="float: right" th:href="'/admin/change-status?orderId='+${order.getOrderId()}">ZMIEŃ</a>
                    </p>
                </div>
                <div class="order-right-col">
                    <p>Lista posiłków:</p>
                    <br/>
                    <div th:each="dish : ${orderDishList}">
                        <p>
                            <a class="button-p" methods="delete"
                               th:href="'/admin/delete-dish-from-diet?orderId='+${order.getOrderId()}+'&dietId='+${order.getDiet().getDietId()}+'&dishId='+${dish.getDishId()}">X</a>
                            <span th:text="${dish.getName()}" style="margin-left: 10px; word-break: break-word;"></span>
                        </p>
                        <br/>
                    </div>
                    <br/>
                    <form action="/admin/add-dish-to-diet">
                        <input name="orderId" type="number" th:value="${order.getOrderId()}" hidden>
                        <p>Dodaj posiłek:</p>
                        <br/>
                        <select name="dishIdToAdd"
                                style="width: 440px; height: 40px; font-size: 15px; margin: 0 0 20px 15px;" required>
                            <option value="" disabled></option>
                            <option th:each="dish : ${allDishList}" th:text="${dish.getName()}"
                                    th:value="${dish.getDishId()}"></option>
                        </select>
                        <br/>
                        <p>
                            <input type="submit" class="button-p" value="ADD" th:style="'visibility:'+${visibility}">
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer class="site-footer">
        <div class="text-center">
            <p>
                GoodCOOLories
            </p>
        </div>
    </footer>
</section>
</body>

</html>
